body {
    margin: 10px;
}
.card { 
    margin-top: 20px;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 30px;
    box-shadow: 5px 10px 10px 10px rgb(190, 190, 190);
    max-width: 500px;
    text-align: center;
    overflow: hidden;   
}
.card:hover {
    transform: rotate(-2.5deg);
    transition: transform 0.7s ease-in-out;
}
.top {
    margin: 1px;
    color: black;
    font:20px Arial;
}
.footer {
    display: flex;
    justify-content: center;
    color: rgb(252, 251, 251);
    font:20px Arial;
    background-color:#53d578;
    padding: 10px;
}
.footer p {
    margin-left: 15px;
}
.footer img {
    width: 70px;
    height: 70px;
    border-radius: 45%;
    border: 5px solid white;
}
.footer a {
    margin-left: 10px;
    font-size: medium;
    color: white;
    text-decoration: none;
}
.info {
    display: flex;
    align-items: center;
}